button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.square {
    width: 40px;
    height: 40px;
}

.grey-border {
    border: 1px solid #dfe6e8;
}

.round-corner {
    border-radius: 20px;
}

.round-corner-small {
    border-radius: 6px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.white-color {
    color: #fff;
}

.white-color-2 {
    color: #E7E5EC;
}

.orange-color {
    color: #FF8872;
}

.grey-color {
    color: #DBE3E5;
}

.grey-color-2 {
    color: #BAC2C4;
}

.grey-bg-color {
    background: #E3E5EE;
}

.purple-bg-color {
    background: #021859;
}

.orange-bg-color {
    background: orange;
}
.margingeneral{
height: 50px;
}