:root {
    --blue: #021859;
}

.bg-blue {
    background-color: var(--blue);
    color: #fff;
}


#navlink:hover {
    background-color: orange;
}

#navbar {
    margin-top: -10px;
}

#navbar-content {
    padding: 10px
}